.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f0ec50;
  z-index: 90;
  overflow: hidden;

  & > div {
    position: relative;
    padding: 16px;
    width: fit-content;
    height: fit-content;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid grey;

    & > button {
      margin-left: auto;
      padding: 0;
      border: none;
      font-size: 1.5rem;
    }
  }
}
