.catalogCard {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  img {
    object-fit: cover;
    background-color: black;
    width: 100%;

    @media screen and (min-width: 834px) {
      width: 200;
      height: 150;
    }
  }

  h4 {
    margin: 16px 0 8px;
    text-transform: capitalize;

    @media screen and (min-width: 1440px) {
      margin: 16px 0 24px;
    }
  }

  p:last-child {
    margin-top: auto;
  }
}
