:root {
  --transition-time: 250ms ease-out;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-width: 320px;
  min-height: 100lvh;
  display: flex;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  color: #101010;

  @media screen and (min-width: 834px) {
    font-size: 20px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 24px;
  }
}

main {
  margin: 0 auto;
  padding: 92px 0 16px;
  min-width: 288px;
  width: 320px;
  min-height: 80vh;
  overflow-x: hidden;

  @media screen and (min-width: 834px) {
    padding: 126px 0 22px;
    width: 768px;
  }
  @media screen and (min-width: 1440px) {
    padding: 142px 0 32px;
    width: 1312px;
  }
}

ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

a,
button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: inherit;
  background-color: inherit;

  cursor: pointer;

  transition: all var(--transition-time);
}
button {
  padding: 12px;
  width: fit-content;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid black;
}
button:hover {
  background-color: #dadada50;
  box-shadow: 1px 1px 2px 2px #dadada;
}
button:active {
  scale: 0.9;
}

a.active {
  color: orange;
}

img {
  object-fit: contain;
  display: block;
  max-width: 100%;
  height: auto;
}

legend {
  font-weight: 700;
  font-size: 23px;

  @media screen and (min-width: 834px) {
    font-size: 22px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 23px;
  }
}

input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
}

fieldset {
  border: none;
}

::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(18 20 23 / 15%);
  border-radius: 6px;
}
